<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>
      <ul>
        

          <% for(var i = 0; i < artists.length; i++) { %>

        <li>
          <a href="artists/<%= artists[i]._id %>">
            <%= artists[i].name  %>
          </li>
        </a>

            <% } %>

        
      </ul>
    </p>
  </body>
</html>
